<div class="details-container">
    <div class="details">
        <div class="game-banner">
            <img class="game-banner-img" src="{{ game.imageUrl }}" alt="background image" />
        </div>
        <div class="game-content">
            <div class="details-wrapper">
                <div class="game-header">
                    <h1 class="game-header-title">{{ game.title}}</h1>
                    <h2 class="game-header-release-date">
                        Available: {{ game.availableDate | date }}
                    </h2>
                    <p class="game-header-genres">
                        <span>{{ game.genre | titlecase }}</span>
                    </p>
                </div>
                <!-- Game Tabs -->
                <div class="game-tabs">
                    <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
                        <mat-tab label="About">
                            <div class="game-tab-inner" fxLayout="column">
                                <h2 class="mat-h2">{{game.title}}</h2>
                                <div class="game-platforms">
                                    <img matTooltip="Xbox" *ngIf="game.isXbox" class="game-platform" src="assets/images/xbox.svg"
                                        alt="xbox" />
                                    <img *ngIf="game.isPc" matTooltip="PC" class="game-platform" src="assets/images/pc.svg" alt="pc" />
                                </div>
                                <div class="game-genre" fxLayout="row" fxLayout="space-around" >
                                    <h3 class="mat-h3" fxFlex="30">Genre</h3>
                                    <h4 class="mat-h4" >{{game.genre | titlecase}}</h4>
                                </div>
                                <div class="game-available-date" fxLayout="row" fxLayout="space-around">
                                    <h4 class="mat-h4" fxFlex="30">Available Since</h4>
                                    <h4>{{game.availableDate | date}}</h4>
                                </div>
                                <div class="game-available-date" fxLayout="row" fxLayout="space-around">
                                    <h4 class="mat-h4" fxFlex="30">Available Until</h4>
                                    <h4>{{game.availableEnd | date}}</h4>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Reviews">
                            <h1>Review Here</h1>
                        </mat-tab>
                        <mat-tab label = "Submit Review">
                            <h1>Submit Review Here</h1>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <!-- Game tabs end -->
            </div>
        </div>
    </div>
</div>